body {
    background: url(../imgs/gray_sand.png);
}

.footer {
    height: 50px;
    background-color: #9ba17b;
}

.jumbotron {
    background-color: #9ba17b;
}

.container {
    color: #f7f9e0;
}

.subTitle {
    color: #9ba17b;
    border-bottom: solid 2px #ffe39b;
    padding-bottom: 10px;
}

.fab, .far {
    font-size: 3em;
    margin: 0 20px 0 20px;
    padding: 0;
}

a {
    color: black;
}

a:hover{
    color: rgb(49, 48, 48);
}